# In Depth A/B Testing - Lab

## Introduction

In this lab, you'll explore a survey from Kaggle regarding budding data scientists. With this, you'll form some initial hypotheses, and test them using the tools you've acquired to date. 

## Objectives

You will be able to:

* Conduct t-tests and an ANOVA on a real-world dataset and interpret the results

## Load the Dataset and Perform a Brief Exploration

The data is stored in a file called **multipleChoiceResponses_cleaned.csv**. Feel free to check out the original dataset referenced at the bottom of this lab, although this cleaned version will undoubtedly be easier to work with. Additionally, meta-data regarding the questions is stored in a file name **schema.csv**. Load in the data itself as a Pandas DataFrame, and take a moment to briefly get acquainted with it.

> Note: If you can't get the file to load properly, try changing the encoding format as in `encoding='latin1'`

In [17]:
#Your code here
import pandas as pd
df = pd.read_csv('multipleChoiceResponses_cleaned.csv',encoding='latin1')
df.head()

C:\Users\Okuda\AppData\Local\Temp\ipykernel_10304\3038991427.py:3: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('multipleChoiceResponses_cleaned.csv',encoding='latin1')

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity,exchangeRate,AdjustedCompensation
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,NaN,NaN
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,250000.0
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Wages and Education

You've been asked to determine whether education is impactful to salary. Develop a hypothesis test to compare the salaries of those with Master's degrees to those with Bachelor's degrees. Are the two statistically different according to your results?

> Note: The relevant features are stored in the 'FormalEducation' and 'AdjustedCompensation' features.

You may import the functions stored in the `flatiron_stats.py` file to help perform your hypothesis tests. It contains the stats functions that you previously coded: `welch_t(a,b)`, `welch_df(a, b)`, and `p_value(a, b, two_sided=False)`. 

Note that `scipy.stats.ttest_ind(a, b, equal_var=False)` performs a two-sided Welch's t-test and that p-values derived from two-sided tests are two times the p-values derived from one-sided tests. See the [documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html) for more information.

In [79]:
#Your code here
from flatiron_stats import welch_t,welch_df,p_value_welch_ttest
master = df[df['FormalEducation']=="Master's degree"]['AdjustedCompensation']
master.dropna(inplace=True)
bachelor = df[df['FormalEducation']=="Bachelor's degree"]['AdjustedCompensation']
bachelor.dropna(inplace=True)

C:\Users\Okuda\AppData\Local\Temp\ipykernel_10304\2570570697.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  master.dropna(inplace=True)
C:\Users\Okuda\AppData\Local\Temp\ipykernel_10304\2570570697.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bachelor.dropna(inplace=True)

In [80]:
# T value for the two samples
t_stat = welch_t(bachelor,master)
print(f't_stat:{t_stat}')

t_stat:0.4378669333541203

In [81]:
# Degrees of freedom
degreef = welch_df(bachelor,master)
print(f'degree of freedom:{degreef}')

degree of freedom:1350.0828973008774

In [82]:
# P-values
p_value_welch_ttest(bachelor,master, two_sided=False)

0.33077639451272267

## Wages and Education II

Now perform a similar statistical test comparing the AdjustedCompensation of those with Bachelor's degrees and those with Doctorates. If you haven't already, be sure to explore the distribution of the AdjustedCompensation feature for any anomalies.

In [83]:
doctorates = df[df['FormalEducation']=="Doctoral degree"]['AdjustedCompensation']
doctorates.dropna(inplace=True)

C:\Users\Okuda\AppData\Local\Temp\ipykernel_10304\3991967767.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  doctorates.dropna(inplace=True)

In [84]:
import numpy as np
print(f'Median values: \nbachelor:{np.median(bachelor)}\ndoctorates:{np.median(doctorates)}')
print(f'Sample sizes: \nbachelor:{len(bachelor)}\ndoctorates:{len(doctorates)}')
print(f"Welch's t-test p-value: {p_value_welch_ttest(bachelor,doctorates, two_sided=False)}")

Median values:
bachelor:38399.4
doctorates:74131.91999999998
Sample sizes:
bachelor:1107
doctorates:967
Welch's t-test p-value: 0.1568238199472023

In [85]:
# doctorates data series
y_q1, y_q3 = np.percentile(doctorates,[25,75])
# IQR
iqry = y_q3 - y_q1

# lower and upper bounds
lower_bound = y_q1 - 1.5 * iqry
upper_bound = y_q3 + 1.5 * iqry
# Remove outliers
doctorates = doctorates[(doctorates >= lower_bound) & (doctorates <= upper_bound)]
len(doctorates)

937

In [86]:
# bachelor data series
x_q1, x_q3 = np.percentile(bachelor,[25,75])
# IQR
iqrx = x_q3 - x_q1

# lower and upper bounds
lower_bound = x_q1 - 1.5 * iqrx
upper_bound = x_q3 + 1.5 * iqrx
# Remove outliers
bachelor = bachelor[(bachelor >= lower_bound) & (bachelor <= upper_bound)]
len(bachelor)

1067

In [87]:
#print(f'Median values: \nbachelor:{np.median(bachelor)}\ndoctorates:{np.median(doctorates)}')
print(f'Sample sizes: \nbachelor:{len(bachelor)}\ndoctorates:{len(doctorates)}')
print(f"Welch's t-test p-value: {p_value_welch_ttest(bachelor,doctorates, two_sided=False)}")

Sample sizes:
bachelor:1067
doctorates:937
Welch's t-test p-value: 0.0

## Wages and Education III

Remember the multiple comparisons problem; rather than continuing on like this, perform an ANOVA test between the various 'FormalEducation' categories and their relation to 'AdjustedCompensation'.

In [91]:
#Your code here
df_anova = df[['AdjustedCompensation','FormalEducation']].dropna()
df_anova

       AdjustedCompensation    FormalEducation
3                250000.000    Master's degree
8                 64184.800  Bachelor's degree
9                 20882.400  Bachelor's degree
11                 1483.900  Bachelor's degree
14                36634.400    Master's degree
...                     ...                ...
26185             50000.000  Bachelor's degree
26195            100449.384  Bachelor's degree
26203            200000.000    Doctoral degree
26255             89686.950    Master's degree
26378             10000.000    Master's degree

[4342 rows x 2 columns]

In [92]:
# Your code here
import statsmodels.api as sm
from statsmodels.formula.api import ols
formula = 'AdjustedCompensation ~C(FormalEducation)'
lm = ols(formula,df_anova).fit()
table = sm.stats.anova_lm(lm,type=2)
print(table)

                        df        sum_sq       mean_sq         F    PR(>F)
C(FormalEducation)     6.0  6.540294e+17  1.090049e+17  0.590714  0.738044
Residual            4335.0  7.999414e+20  1.845309e+17       NaN       NaN

## Additional Resources

Here's the original source where the data was taken from:  
    [Kaggle Machine Learning & Data Science Survey 2017](https://www.kaggle.com/kaggle/kaggle-survey-2017)

## Summary

In this lab, you practiced conducting actual hypothesis tests on actual data. From this, you saw how dependent results can be on the initial problem formulation, including preprocessing!